body {
  background-color: #6b5b95;
  padding: 30px;
  color:black;
}
nav{
  padding: 30px;
  background-color: #bdcebe;
  position: sticky;
  top: 0;
  text-shadow: lpx 1px 0 #444;
  color:white;
}
header{
  padding: 30px;
  height:70%;
  bachground-image: url('https://images.unsplash.com/photo-1513836279014-a89f7a76ae86?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d4147a2e4e3f79299e2f0c92b13db9ee&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-attachement
